annotated-types==0.8.0
colorama==0.4.6
lxml==6.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
python-dotenv==1.2.2
rich==15.0.0
tqdm==4.70.0
typing-inspection==0.4.2
typing_extensions==4.16.0
